@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cores principais */
:root {
    --cor-primaria: #6C7A89; /* Azul acinzentado */
    --cor-secundaria: #9BA4B4; /* Cinza azulado */
    --cor-destaque: #7FA5E7; /* Azul claro */
    --cor-texto: #222; /* Preto */
    --cor-texto-claro: #fff; /* Branco */

    /* Espaçamentos */
    --espacamento-pequeno: 10px;
    --espacamento-medio: 20px;
    --espacamento-grande: 30px;

    /* Tamanhos de texto */
    --tamanho-texto-pequeno: 14px;
    --tamanho-texto-medio: 16px;
    --tamanho-texto-grande: 18px;
}

body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

header {
    background-color: inherit;
    width: 300px; /* Defina a largura da sidebar aqui */
    padding: var(--espacamento-medio);
    border-right: 2px solid rgba(220, 220, 220, 0.4);
    margin: var(--espacamento-grande) 0;
}

header nav {
    height: 100%;
}

header nav .top-container span {
    display: block;
    background: var(--cor-destaque);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: var(--espacamento-pequeno);
}

header nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--espacamento-pequeno);
}

header nav ul li {
    margin: var(--espacamento-medio) 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: var(--espacamento-pequeno);
}

nav a {
    color: var(--cor-texto);
    text-decoration: none;
    transition: all .2s ease;
}

nav a:hover {
    filter: brightness(-80%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: calc(var(--espacamento-grande) + 4 * var(--espacamento-pequeno)) var(--espacamento-medio) 0 var(--espacamento-medio);
    min-height: 100vh;
    position: relative;
}

.circle-bg {
    position: absolute;
    transform: translate(250px, -25vw);
    right: 0;
    top: 0;
    width: 55%;
    height: 75%;
    background-color: var(--cor-primaria);
    border-radius: 50%;
    z-index: -1;
}

.circle-bg2 {
    position: absolute;
    transform: translate(-280px, 35vw);
    left: 0;
    bottom: 0;
    width: 40%;
    height: 70%;
    background-color: var(--cor-secundaria);
    border-radius: 50%;
}

.circle-dot {
    position: absolute;
    width: 50px;
    right: 50%;
    top: calc(50% + 80px);
    height: 50px;
    background-color: var(--cor-secundaria);
    border-radius: 50%;
    z-index: -2;
}

main h1 {
    font-family: 'IBM Plex Serif';
}


main .expo-footer {
    height: 30vh;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    background-color: var(--cor-destaque);
    background-color: inherit;
}

.expo-footer .left-part {
    display: flex;
    align-self: center;
    justify-content: center;
    min-width: 35%;
    border-right: 2px solid rgba(220, 220, 220, 0.8);
    margin: 0 var(--espacamento-pequeno) 0 0;
}

.main-img {
    padding: 0 var(--espacamento-grande) 0 0;
    filter: contrast(110%);
    width: 30vw;
}

main a {
    text-decoration: none;
    color: var(--cor-texto);
    transition: all .4s ease;
}
main a:hover {
    filter:brightness(-40%);
}


.arrow {
    width: 150px;
    height: 25px;
}

.long-arrow-right {
    margin: 10px 0;
    margin-left: 145px;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--cor-destaque);
    border-left: 2px solid var(--cor-destaque);
    transform: rotate(135deg);
}

.long-arrow-right::after {
  content: "";
  display: block;
  width: 2px;
  height: 152px;
  background-color: var(--cor-destaque);
  transform: rotate(-45deg) translate(53px, 22px);
  left: 0;
  top: 0;
}

.expo-footer .right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 var(--espacamento-pequeno);
    max-width: 40%;
}

.expo-footer .right-part p {
    font-size: var(--tamanho-texto-medio);
    font-family: 'IBM Plex Serif';
    line-height: 40px;
}

h1 {
  margin-top: var(--espacamento-medio);
}

.slider-content  {
  margin-top: var(--espacamento-medio);
}

.slider {
  width: 70%;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.pic-container {
  height: 100%;
  width: 100%;
}

.pic-container,
.pic,
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.pic {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 500ms cubic-bezier(.42, .84, 0, 1.06);
  object-fit: cover;
}

.pic_img {
  width:100%;
}

.slider-btns {
  padding: 0 10px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  transform: translate(0, -25px);
}

.btn-left,
.btn-right {
  background: var(--cor-texto-claro);
  border-radius: 20px;
  width: 17px;
  height: 17px;
  transition: .1s ease all;
  cursor: pointer;
  color: var(--cor-texto);
  opacity: 60%;
  border: none;
  font-size: 1.0rem;
  font-weight: bolder;
}

.btn-left:hover,
.btn-right:hover{
  transform: scale(1.2);
  opacity:100%;
}